/*
	Resets
*/

html, h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body
{
	background-color: white;
}



/*
	Custom CSS
*/

.category
{
	background-color: none;
	margin-bottom: 10px;
	padding-left: 10px;
}

.category h2
{
	padding: 5px 5px 5px  5px;
}

.forum
{
	background-color: #EFEFEF;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-top: 10px;
	max-width: 90%;
}

.forum-title
{
	padding: 0px 0 10px 0;
}

.category-title
{
	margin-bottom: 5px;
	text-decoration: none;
	color: #ff3B3F;
	font-weight: bold;
	text-transform: uppercase;
}

a.category-title:hover
{
	color: black;
	text-decoration: none;
}

.category a
{
	color: #ff3B3F;
	text-decoration: none;
}

.category a:hover
{
	color: black;
}

.forum-title
{
	color: black;
}

.forum-desc
{
	color: black;
}

.forum:hover .forum-title
{
	color: #ff3B3F;
}

.forum:hover .forum-desc
{
	color: #ff3B3F;
}

.posts
{
	margin-top: 10px;
}

.posts a
{
	color: #333;
}

.post
{
	background-color: #EFEFEF;
	margin-bottom: 5px;
	padding-top: 5px;
}

.post:hover
{
	background-color: grey;
}

.post-poster
{
	font-style: italic;
}

.post-post, .post-reply
{
	background-color: #EFEFEF;
	padding: 5px;
	margin-bottom: 10px;
}

.post-post
{
	border-bottom: 3px solid #ff3B3F;
}

.post-reply-form textarea
{
	height: 200px;
	width: 500px;
}

.post-text
{
	word-wrap: break-word;
}

.post-post img, .post-reply img
{
	max-width: 150px;
}

.post-title
{
	margin-bottom: 10px;
}

.post-title a
{
	color: #ff3B3F;
	font-weight: bold;
	text-transform: uppercase;
}

span.mod
{
	color: blue;
}

span.admin 
{
	color: red;
}

.actions
{
	margin-bottom: 10px;
}

.actions a
{
	color: #333;
	margin-right: 5px;
}

/* Width, height and cut corners for userpic */
.profile-userpic img
{
    width: 80%;
    height: 20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.profile-content{
    border-style: solid;
    border-width: 30px;
    border-color: #e7e7e7;
     -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
    height: 10cm;
    background-color:#e7e7e7;
    overflow-y: scroll;
}
/* Messages css */
.content {
    overflow-y: scroll;
    border-radius:3px;
    height: 10cm;
}
.messagecont
{
    padding: 0;
    margin: 0;
}
.friends {
    top:0.1cm;
}
.messageformtextbox {
    padding-top: 0em;
}
#message {
    padding-bottom: 4.5em;
    padding-left: 0.5em;
    height: 6em; 
}
#p7 {
    display: none;
}
.reciever{
    width: 13.5em;
    display:none;
}
.searchoption {
    text-decoration: none;
    color:inherit;
}
#searchboxdiv {
    position:absolute;
    background-color: grey;
    left: 14.3%;
    width:13.8%;
    z-index:10;
    visibility: hidden;
}
/* Messages css end */

/* Charbar css start */
body 
{
  margin-bottom: 50px;
}

.chatbar 
{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #cecece;
}

.container > .chatbar
{
  padding-right: 15px;
  padding-left: 15px;
}

.conversation
{
	height: 50px;
}

.conversation:hover
{
	background-color: grey;
}

.conversation-content
{
	margin-top: 15px;
}

/* Charbar css end */

.profile-name
{
	color: #ff3B3F;
}

.profile-name:hover
{
	color: #ff3B3F;
}

.navbar-default
{
	background-color: white;
	border-color: #CAEBF2;
}

.navbar-default .navbar-brand
{
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a
{
	color: black;
}

.navbar-default .navbar-brand:hover
{
	color: #ff3B3F;
}

.navbar-default .navbar-nav>li>a:hover
{
	color: #ff3B3F;
}

.row
{
	margin-right: 0;
	margin-left: 0;
}